{% extends 'djappmasv/base.html' %}

{% block titulo %}Autor{% endblock titulo %}

{% block cuerpo %} 

{% load static %}

    <div>
        <h1 id="titulo">Agregar Autor</h1>
        <br>
        <form action="" method="post">
            {{ form.as_table }}
            {% csrf_token %}
            <br><br>
            <tr>
                <td><button type="submit">Guardar</button></td>
                <td><button type="button" onClick="history.go(-1);">Cancelar</button></td>
            </tr>

            
            <link rel="stylesheet" href="{% static 'djappmasv/css/libreria.css' %}" />
            <script type="text/javascript" src="{% static 'djappmasv/js/libreria.js' %}"></script>
        </form>
    </div> 
    {% endblock cuerpo %}