{% block cuerpo %} 

  {% load static %}
      <center><h1>Usuario</h1></center>
        <div>
            <div>
                <table align="center">
                  <thead>
                      <th>ID USUARIO</th>
                      <th>ID CLIENTE</th>
                      <th>USUARIO</th>
                      <th>CLAVE</th>
                  </thead>
                  <tbody>
                      {% for usu in object_list %}
                  <tr>
                      <td>{{usu.id_usuario}}</td>
                      <td>{{usu.id_cliente}}</td>
                      <td>{{usu.usuario}}</td>
                      <td>{{usu.clave}}</td>
                  </tr>
                    {% endfor %} 
                  </tbody>
                </table>
              </div><br>

              <link rel="stylesheet" href="{% static 'djappmasv/css/pdf.css' %}" />
              <script
                type="text/javascript"
                src="{% static 'djappmasv/js/libreria.js' %}"
              ></script>
              {% endblock cuerpo %}

              
