{% extends 'djappmasv/base.html' %}

{% block titulo %}Inicio{% endblock titulo%}

{% load static %}

    {% block cuerpo %}
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="https://i.ytimg.com/vi/PbIQIDluCgQ/maxresdefault.jpg">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="https://1.bp.blogspot.com/-7YxMyXAP82U/Xsqnu2Jh5eI/AAAAAAAAias/npWH59MNk1QAPoQZd0rw_GUgMtBGz3VUQCLcBGAsYHQ/s1600/IMG_20200511_152650.jpg">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="https://c8.alamy.com/compes/c91264/frankenstein-de-mary-shelley-c91264.jpg">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>

        <link rel="stylesheet" href="{% static 'djappmasv/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'djappmasv/css/libreria.css' %}">
        <script src="{% static 'djappmasv/js/libreria.js' %}"></script>
    {% endblock cuerpo %}