{% extends 'djappmasv/base.html' %}

{% block cuerpo %} 

{% load static %}
         
        <form method="post"> 
            {% csrf_token %} 
            <h2>¿Desea eliminar el cliente {{cliente.id_cliente}} ?</h2>
            <tr>
                <td><button type="submit">Si, Eliminar</button></td>
            </tr>
            <tr>
                <button><a href="{% url 'clientes' %}">Cancelar</button></a>
            </tr>
        </form> 
            
            <link rel="stylesheet" href="{% static 'djappmasv/css/libreria.css' %}" />
            <script type="text/javascript" src="{% static 'djappmasv/js/libreria.js' %}"></script>
        </form> 
    {% endblock cuerpo %}